<div class="bgImg">
  <h2 class="news-header">Archive</h2>
</div>
<section class="hotelNews pt-5 pb-5">
  <div class="container m-auto">
    <div class="newsImage p-4">
      <div class="firstCol">
        <div class="card1">
          <div class="image">
            <img src="card1.jpg" alt="">
          </div>
          <div class="c-body">
          <p class="fw-light"><span class="fw-medium pe-2">|</span> March 14, 2022</p>
          <h6 class="fw-medium">New Website</h6>
          <p class="fw-light">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci utet.</p>
          <button class="btn-more"><a routerLink="/home">Read More</a></button>
          </div>
        </div>
        <div class="card2">
          <div class="image">
            <img src="card2.avif" alt="">
          </div>
          <div class="layout1">
            <a href="https://www.nicdarkthemes.com/">www.nicdark.com</a>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512" class="mt-2" style="width: 35px"><path fill="#efefef" d="M579.8 267.7c56.5-56.5 56.5-148 0-204.5c-50-50-128.8-56.5-186.3-15.4l-1.6 1.1c-14.4 10.3-17.7 30.3-7.4 44.6s30.3 17.7 44.6 7.4l1.6-1.1c32.1-22.9 76-19.3 103.8 8.6c31.5 31.5 31.5 82.5 0 114L422.3 334.8c-31.5 31.5-82.5 31.5-114 0c-27.9-27.9-31.5-71.8-8.6-103.8l1.1-1.6c10.3-14.4 6.9-34.4-7.4-44.6s-34.4-6.9-44.6 7.4l-1.1 1.6C206.5 251.2 213 330 263 380c56.5 56.5 148 56.5 204.5 0L579.8 267.7zM60.2 244.3c-56.5 56.5-56.5 148 0 204.5c50 50 128.8 56.5 186.3 15.4l1.6-1.1c14.4-10.3 17.7-30.3 7.4-44.6s-30.3-17.7-44.6-7.4l-1.6 1.1c-32.1 22.9-76 19.3-103.8-8.6C74 372 74 321 105.5 289.5L217.7 177.2c31.5-31.5 82.5-31.5 114 0c27.9 27.9 31.5 71.8 8.6 103.9l-1.1 1.6c-10.3 14.4-6.9 34.4 7.4 44.6s34.4 6.9 44.6-7.4l1.1-1.6C433.5 260.8 427 182 377 132c-56.5-56.5-148-56.5-204.5 0L60.2 244.3z"/></svg>
          </div>
        </div>
      </div>
      <div class="secondCol">
        <div class="card3">
          <div class="image">
            <img src="card3.avif" alt="">
          </div>
          <div class="layout2">
            <h6>Follow our Resort Luxury<br> Hotels</h6>
            <p>JOHN DOE</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" style="width: 35px"><path fill="#efefef" d="M448 296c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 32 0 32 0 72zm-256 0c0 66.3-53.7 120-120 120l-8 0c-17.7 0-32-14.3-32-32s14.3-32 32-32l8 0c30.9 0 56-25.1 56-56l0-8-64 0c-35.3 0-64-28.7-64-64l0-64c0-35.3 28.7-64 64-64l64 0c35.3 0 64 28.7 64 64l0 32 0 32 0 72z"/></svg>
          </div>
        </div>
        <div class="card4">
          <div class="image">
            <img src="card4.jpg" alt="">
          </div>
          <div class="c-body">
          <p class="fw-light"><span class="fw-medium pe-2">|</span> March 14, 2022</p>
          <h6 class="fw-medium">Around Us</h6>
          <p class="fw-light">Phasellus enim libero, blandit vel sapien vitae, condimentum ultricies magna et. Quisque euismod orci utet.</p>
          <button class="btn-more"><a routerLink="/about">Read More</a></button>
          </div>
        </div>
      </div>
      <div class="thirdCol">
        <div class="card5">
          <div class="image">
            <img src="card5.jpg" alt="">
          </div>
          <div class="layout3">
            <p class="fw-light"><span class="fw-medium pe-2">|</span> March 14, 2022</p>
            <h6 class="fw-medium">Relax Zone</h6>
          </div>
        </div>
        <div class="card6">
          <div class="image">
            <img src="card6.jpg" alt="">
          </div>
          <div class="layout4">
            <p class="fw-light"><span class="fw-medium pe-2">|</span>March 14, 2022</p>
            <h6 class="fw-medium">Daily Walk</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--
<div class="card col-4" *ngFor="let ro of filteredRooms">
  {{ro.name}}
  <a routerLink="/details" (click)="show(ro.id)">show details</a>
</div>
-->